/* Insertar en Avanzado > CSS Personalizado > Elementos del módulo */

.footer-links {
    display: flex;
    flex-wrap: wrap;  /* Permite que los enlaces se ajusten y no se desborden */
    justify-content: flex-start;  /* Ajusta los elementos al inicio */
    gap: 15px;  /* Espacio entre los enlaces */
    padding: 10px 0;
}

.footer-links a {
    text-decoration: none;
    color: white !important;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links span {
    display: inline-flex;
    align-items: center;
}

/* Media Query para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
    .footer-links {
        justify-content: center; /* Centra los enlaces en pantallas pequeñas */
        text-align: center;
        gap: 8px; /* Reducir el espacio entre los elementos en móviles */
    }

    .footer-links a {
        font-size: 12px;  /* Reducir el tamaño de fuente en dispositivos pequeños */
        margin-bottom: 5px; /* Reducir el margen entre los enlaces */
    }

    .footer-links span {
        flex-basis: auto;  /* Hacer que los elementos no tomen todo el espacio disponible */
        text-align: center;
    }
}